.App {
  text-align: center;
}

.inputContainer {
  height: 100vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.centerForm {
  position: relative;
  top: 15vh;
  align-self: center;
  left: 18vw;
}

.exampleText {
  z-index: 999;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
